In [13]:
import math 
print(math.sqrt(4))

2.0

In [14]:
import random
print(random.randint(1,10))
print(random.choice(['apple','banana','cherry']))

8
apple

In [15]:
#  high level operstion on files and collection of files
import shutil
shutil.copyfile('source.txt', 'destination.txt')

'destination.txt'

In [16]:
#  Data serialization
import json
data = {'name':'Ansh', 'age':25}

json_str = json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Ansh", "age": 25}
<class 'str'>
{'name': 'Ansh', 'age': 25}
<class 'dict'>

In [17]:
import os 
print(os.getcwd())

d:\yash\GenAI_krishNaik\python\Section 5

In [18]:
# file and directry access
print(os.getcwd())

d:\yash\GenAI_krishNaik\python\Section 5

In [20]:
os.mkdir('test2_dir')

In [21]:
#  csv
import csv
with open('example.csv', mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow([
        'yahs',23
    ])
    
with open('example.csv',mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['yahs', '23']

In [24]:
#  datetime
from datetime import datetime,timedelta
now= datetime.now()
print(now)

yesterday= now-timedelta(days=1)
print(yesterday)

2025-06-21 16:24:43.777675
2025-06-20 16:24:43.777675

In [28]:
import time
print(time.time())
time.sleep(5)
print(time.time())
time.sleep(5)
print(time.time())

1750503675.5380836
1750503680.5390801
1750503685.5408576

In [34]:
# regular expression
import re
pattern = r'\d+'
text = 'there are 123 apples 343'
match= re.search(pattern, text)
print(match.group())

123